:root {
  --animdur: 1s;
}
.box{
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;
    opacity: 0;
}
.box-visited {
    animation-name: visitedAnimation;
    animation-duration: var(--animdur);
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      background-color: rgba(66, 0, 0, 0.75);
     }
  
    50% {
      background-color: rgba(199, 0, 0, 0.75);
      opacity: 0.5;
    }
  
    75% {
      background-color: rgba(248, 76, 76, 0.74);
    }
  
    100% {
      background-color: rgba(255, 255, 255, 0.75);
      opacity: 1;
    }
  }
 
.box1{
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
  opacity: 0;
}
.box1-visited1 {
  animation-name: visitedAnimation1;
  animation-duration: var(--animdur);
  animation-timing-function: ease-out;
  animation-delay:  var(--animdur)+1;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation1 {
  0% {
    background-color: rgba(48, 28, 226, 0.87);
  
  }

  50% {
    background-color: rgba(37, 15, 228, 0.87);
    opacity: 0.5;
  }

  75% {
    background-color: rgba(11, 4, 75, 0.87);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.87);
    opacity: 1;
  }
}
.box2{
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
  opacity: 0;
}
.box2-visited2 {
  animation-name: visitedAnimation2;
  animation-duration: var(--animdur);
  animation-timing-function: ease-out;
  animation-delay:  var(--animdur)+1;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation2 {
  0% {
    
    background-color: rgba(48, 28, 226, 0.87);
  }

  50% {
    background-color: rgba(37, 15, 228, 0.87);
    opacity: 0.5;
  }

  75% {
    background-color: rgba(11, 4, 75, 0.87);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.87);
    opacity: 1;
  }
}
